*.exe
*.out
*.o
*.obj
*.log
*.pyc
*.pem
__pycache__/
config.py
backend/mailer.env
.DS_Store
.vscode/
*.dat
__pycache__/
backend/auth
backend/delivery
backend/inventory
backend/mailer
backend/order
backend/receipt
backend/users
